@font-face {
  font-family: 'Noto Sans';
  src: url('src/assets/fonts/NotoSans-Thin.woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('src/assets/fonts/NotoSans-ExtraLight.woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('src/assets/fonts/NotoSans-Light.woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('src/assets/fonts/NotoSans-Regular.woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('src/assets/fonts/NotoSans-Medium.woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('src/assets/fonts/NotoSans-SemiBold.woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('src/assets/fonts/NotoSans-Bold.woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('src/assets/fonts/NotoSans-ExtraBold.woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('src/assets/fonts/NotoSans-Black.woff2');
  font-weight: 900;
  font-display: swap;
}
